html {
    background-color: rgb(192, 192, 192);
        height: 100%;

}
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/blurry-snow-in-sun-glow_zktx7gnlh__F0000.png);
    background-size: cover;
    border: 1px solid black;
        height: 100%;

}
table{
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 15px 40px rgba(0,0,0,.5);

}
table td{
    border: 1px solid #e3e3e3;
    padding: 4px 8px;
}

table th{
    background-color: #595959;
    color: #a6af13;
    padding: 4px 30px;
    text-align: left;
}

table td {
    background-color: #e7edf0;
}
.title{
    text-align: center;
    padding: 50px 0 20px;
}

.check {
    text-align: center;
}

.title h1{
    margin: 0;
    padding: 0;
    color: #262626;
    text-transform: uppercase;
    font-size: 36px;
}
.container{
    width: 50%;
    height: 400px;
    background: #fff;
    margin: 0 auto;
    border: 2px solid #fff;
    box-shadow: 0 15px 40px rgba(0,0,0,.5);
}

.container .left {
    float: left;
     width: 50%;
     height: 400px;
     background: url(https://www.walldevil.com/wallpapers/a35/wallpaper-house-paper-notepad-center-artwork-newest.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     box-sizing: border-box;
     border: 2px solid black
}

.container .right {
    float: right;
    width: 50%;
    height: 400px;
    box-sizing: border-box;

}

.formBox{
    width: 100%;
    padding: 80px 40px;
    box-sizing: border-box;
    height: 400px;
    background: white;
}

.formBox label {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.formBox input {
    margin-bottom: 20px;
    width: 100%;
}

.formBox input[type='email'], .formBox input[type='password'] {
    border: none;
    border-bottom: 2px solid #a6af13;
    outline: none;
    height: 40px;

}

.formBox input[type='email']:focus, .formBox input[type='password']:focus {
    border-bottom: 2px solid #262626;
}

.formBox input[type='submit']{
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    background: #262626;
}

.formBox input[type='submit']:hover {
    background: #a6af13;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -90px; 
}

.wrapper:after {
    content: "";
    display: block;
}

.wrapper:after .footer{
    height: 100px;
}
.nav{
    background-color: #595959;
    color: #ffffff;
    list-style: none;
    text-align: center;
    padding: 20px 0 20px 0;
    margin-top: 0;
}

.footer{
    background-color: #595959;
    color: #ffffff;
    list-style: none;
    text-align: center;
    padding: 20px 0 20px 0;
    margin: 0;
}

.footer > p {
    display: inline-block;
    padding: 0 25px 0 25px;
    text-decoration: none;
    color: #a6af13;
}

.nav > li{
    display: inline-block;
    padding: 0 25px 0 25px;
}

.nav > li > a{
    text-decoration: none;
    color: #a6af13;

}

.nav > li > a:hover {
    color: #fff;
}